<div id="employee-form" data-props="<%= { 
  employee: @employee, 
  errors: @employee.errors.full_messages,
  authenticity_token: form_authenticity_token 
}.to_json %>">
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Editing employee</h1>
    <p>Loading form...</p>
  </div>
</div>
