<div id="employee-detail" data-props="<%= { 
  employee: @employee, 
  notice: notice,
  authenticity_token: form_authenticity_token 
}.to_json %>">
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl mb-8"><%= @employee.full_name %></h1>
    <p>Loading details...</p>
  </div>
</div>
