<div class="w-full">
  <div id="insights-root" data-props="<%= {
    total_employees: @total_employees,
    total_payroll: @total_payroll,
    global_avg_salary: @global_avg_salary,
    salary_by_country: @salary_by_country,
    avg_salary_by_job_title_and_country: @avg_salary_by_job_title_and_country,
    global_avg_by_job_title: @global_avg_by_job_title
  }.to_json %>">
    <h1 class="font-bold text-4xl mb-8">Salary Insights</h1>
    <p>Loading React frontend...</p>
  </div>
</div>
